<!doctype html>

<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static' , filename = 'hello.css') }}">
		<link rel = "stylesheet" href="{{ url_for('static' , filename = 'style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    	<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
	<script>

	 </script>		
	</head>
	

	<body style="overflow:hidden;">
		<div>
		<div id = "particles-js"></div>
		<div ><img style="background-color:rgba(255, 255, 255, 0.7);width:75px;margin-top:5px;margin-left:22px;padding:5px;border-radius:10px;" src="{{ url_for('static',filename='logo.png') }}"><br><b><div style="font-size:150%;z-index:0;color:white;">&nbsp;&nbsp;Tuts-Robo</div></b></div>
		<div>
		<div style="left:30%;top:0;position:absolute">
			<div class="custom-file-upload">
				<form name='addvideo'>
			   		<input type="file" id="file" name="myfiles[]" multiple />
			    	<!--<a href="#" onclick="javascript:play_video()"><div class="btn btn-warning">Play Video</div></a>-->
			   </form>
			</div>
		</div>
		<button type="button" class="file-upload-button" onclick="javascript:play_video()" style="position:absolute;top:28px;right:300px;margin-left:15px;">Play Video</button>
		<a href="/editor/"class="btn btn-lg hackide"  style="position:absolute;top:30px;right:100px;margin-left:15px;color:white;background-color: #962d22;">Try Code Editor</a>
		</div>

		<br/>
		
			<div class="row">	
				<div class="col-md-7 row">
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-6">
						<video style="display:none;" id='video' width="700" height="450" controls autoplay>
							<source src="{{ url_for('static', filename='2.mp4') }}" type="video/mp4" >
							No Video Found
						</video>
					</div>
				</div>
				</div>
				
				<div class="col-md-1"></div>
				
				<div class="col-md-4" style="max-height:100%;">
					<form action="/code/" method="POST" name="code">
					<center><div style="color:white;font-size:200%;z-index:0;">INPUT</div></center><br>
					<div class="row">
					<div class="col-md-5">
					<input class="btn btn-lg" style="background-color:#962d22;color:white;" type="submit" value="Compile">
					</div>
					<div class="col-md-4" style="padding-bottom:5px;color:white;z-index:0"><h3>Lang : {{ lang }}</h3></div>
					<textarea name="input" rows="5" cols="40" style="font-size:150%;z-index:0;opacity:0.8;color:rgb(0, 200, 0);">{{ input1 }}</textarea>

					</form>
					<center><div style="color:white;font-size:200%;z-index:0;">OUTPUT</div></center><br>
					<textarea name="output" rows="5" cols="40" style="font-size:150%;z-index:0;opacity:0.8;color:rgb(200, 0, 0);">{{ output }}</textarea>

				</div>
				
				<div class="col-md-1"></div>
			</div>

			<br/>
			<br>
			<div class="" id="capture" style="display:none;position:absolute;bottom:-15px;left:25%;">
				<form action="" method="post" name="captcha">
					<input type="submit" value="Capture" type="button" class="file-upload-button" >
				</form>
			</div>
		</div>
		<script>
			function play_video(){
				form = document.forms['addvideo'];
				var path = document.getElementById('file').value;
				var loc = path.lastIndexOf("\\");
				video_name = path.slice(loc+1);
				//document.getElementById('video').src = video_name;
				document.getElementById('video').style.display = "";
				document.getElementById('capture').style.display = "";
				//window.alert(video_name);
				document.getElementById('video').play();
			} 
		</script>
		<script src='http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>
		<script src='http://threejs.org/examples/js/libs/stats.min.js'></script>
		<script src='http://cdnjs.cloudflare.com/ajax/libs/jsquery/2.1.3/jquery.min.js'></script>
		<script src="{{ url_for('static' , filename = 'javascript.js') }}"></script>
		<script src="{{ url_for('static' , filename = 'index.js') }}"></script>
	</body>
</html> 